
//this lay out is used for parcours, approche

.container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
gap: 2rem;
background-color: $secondary-background;
padding: 2rem;

    figure {
        max-width: 60%;
        height: auto;

    }
}

